.header {
    background-color: var(--light-color);
    border-bottom: 1px solid #ececec;
}

.header__container {
    position: relative;
    display: flex;
    align-items: center; 
    
    @media screen and (max-width: 767px) {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
}

.menu-btn {
    position: relative;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
    align-items: center;
    z-index: 10;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &:hover .icon-menu {
        fill: var(--accent-color);
    }

    & .icon-cross {
        display: none;
    }
    
    &.is-active .icon-cross {
        display: block;

        &:hover .icon-cros {
            fill: var(--accent-color);
        }
    }
    
    &.is-active .icon-menu {
        display: none;
    }
}

.menu-btn:hover .icon-menu,
.menu-btn:hover .icon-cross {
    fill: var(--accent-color);
}

.menu-conteiner {
    @media screen and (max-width: 767px) {
        display: none;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        margin-left: 88px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__item,
.header-contacts__list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-text-color);
}

.nav__link--current {
    position: relative;
    color: var(--accent-color);

    &::after {
        content: '';
    
        position: absolute;
        left: 0;
        bottom: -1px;
    
        display: block;
        width: 100%;
        height: 4px;
    
        background: #2196f3;
        border-radius: 2px;
    }
}



.header-contacts__list {
    align-items: center;
    margin-left: auto;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .header-contacts__item:not(:last-child) {
        margin-right: 50px;
    }
}

.header-contacts__item:first-child {
    @media screen and (max-width: 1200px) {
        margin-bottom: 10px;
    }
    
}

.header-contacts__link {
    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        line-height: 1.17;
    }
        
    color: var(--primery-text-color);
    transition: color var(--anim);
}

.header-contacts__icon {
    margin-right: 10px;
    fill: currentColor;

    @media screen and (max-width: 1200px) {
        max-width: 14px;
        max-height: 14px;
        margin-right: 8px;
    }
}