.checkbox-label {
    display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;
    color: var(--primery-text-color);
    margin-top: 20px;

    @media screen and (max-width: 767px) {
        display: block;
        font-size: 12px;
        line-height: 1.17;
    }

}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
}

.checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid var(--secondary-text-color);
    border-radius: 2px;

}

.checkbox:checked+.checkbox-icon {
    border: transparent;
    background-image: url(../../../images/svg/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
}

.checkbox-link {
    margin-left: 2px;
    text-decoration-line: underline;
    color: var(--accent-color);
}